#content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tagcloud {
    text-align: center;
}

/* It's just hack to avoid use img tag directly in markdown */
img[alt="600"] { width: 600px; }

.fa-camera:before {
    font-size: smaller;
}
